<div class="pipeline-insights">
  <!-- <div class="pipeline-insights-btn" (click)="showStackModal($event)"></div> -->
  <div class="imp" *ngIf="flag && flag1; else elseBlock" style="color:red;">
    <div class="imp_info">
      <span [class]="'pficon-error-circle-o'" style="padding-right:5px;color:red;" data-toggle="tooltip" title="CVE Issue">
      </span>
      <b>CVE's</b> and <b>License Issue</b> are present
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="imp">
      <div class="imp_info" *ngIf="flag" style="color:red;">
        <span [class]="'pficon-error-circle-o'" style="padding-right:5px;color:red;" data-toggle="tooltip" title="CVE Issue">
        </span>
        <b>CVE's</b> are present
      </div>
      <div *ngIf="flag1" style="color:red;">
        <span class="pficon-error-circle-o" style="padding-right:5px;color:red;" data-toggle="tooltip" title="Liscence Issue">
        </span>
        <b>License</b> Issue are present.
      </div>
    </div>
  </ng-template>
  <!-- <modal #stackModule modalClass="modal-lg modal-fullscreen">
  </modal> -->
</div>