<div class="preview">
    <div class="row">
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">

            </div>
        </div>
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">
                <h3>Github Statistics</h3>
                <div class="content col-xs-12">
                    <div class="row">
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>Watchers</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>Stars</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-code-fork" aria-hidden="true"></i>
                                <span>Forks</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <span>Issues</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                                <span>Releases</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Contributors</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                <span>Size</span>
                            </div>
                            <div class="count">
                                20
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">
                <h3>Code Metrics</h3>
                <div class="content col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 metric">
                            <i class="fa pficon-topology metric-icon" aria-hidden="true"></i>
                            <div class="metric-count">11825</div>
                            <div class="metric-description">Avg. cyclometric complexity</div>
                        </div>
                        <div class="col-xs-12 col-md-4 metric">
                            <i class="fa fa-list-alt metric-icon" aria-hidden="true"></i>
                            <div class="metric-count">NA</div>
                            <div class="metric-description">Lines of code</div>
                        </div>
                        <div class="col-xs-12 col-md-4 metric">
                            <i class="fa fa-file-o metric-icon" aria-hidden="true"></i>
                            <div class="metric-count">600</div>
                            <div class="metric-description">Total files</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <i class="fa fa-folder package-icon" aria-hidden="true"></i>
            <span class="package-name">Package Name</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="version-information">
                <i class="fa fa-tag version-icon" aria-hidden="true"></i>
                <span class="version">1.0.1</span>
                <span class="support-info">(Current Version)</span>
            </div>
            <div class="version-information">
                <i class="fa fa-tag version-icon" aria-hidden="true"></i>
                <span class="version">1.1.1</span>
                <span class="support-info">(Latest Version)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 licenses-info">
            <h3>
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <span class="license-header">Licenses</span>
            </h3>
            <div class="content">
                <span class="license-pill">
                    MIT
                </span>
                <span class="license-pill">
                    GPL
                </span>
                <span class="license-pill">
                    Apache
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>General note:</h3>
            <div class="content">
                <ul>
                    <li>This package has no security vulnerability associated.</li>
                    <li>It is an active package.</li>
                </ul>
            </div>
        </div>
    </div>
</div>